@import '../settings/variables.scss';
@import '../settings/mixins.scss';

button {

	&.button-full {
		width: 100%;
		font-family: 'Oswald' !important;
		font-size: 24px !important;
		line-height: 130%;
		letter-spacing: -0.24px !important;
		font-weight: 500;
		text-transform: capitalize !important;
		color: var(--wp--preset--color--black) !important;
		border-radius: 80px !important;
		background-color: #FFFFFF !important;
		border-radius: 50px !important;
		border: 3px solid #000 !important; 
		padding: 9px 32px !important;	
	}

	&.disabled {
		opacity: .6;
		pointer-events: none;
	}

	&.link {
		border: none;
		background-color: transparent;
		color: #000;
		font-family: 'Oswald';
		font-size: 24px;
		font-weight: 500;
		line-height: 130%;
		letter-spacing: -0.24px;
		&:hover{
			background-color: transparent;
			color: #000;
		}	
	}

	&.primary {
		background-color: #FFF766;
		border-radius: 80px;
		border: 3px solid #000;
		padding: 9px 24px 11px;
		color: #000;
		font-family: 'Oswald';
		font-size: 24px;
		font-weight: 500;
		line-height: 130%;
		letter-spacing: -0.24px;
		&:hover{
			background-color: transparent;
			color: #000;
			border: 3px solid #000;
			background-color: #FFF766;
		}	
	}
	&.close{
		background-color: transparent;
		&:hover{
			background-color: transparent;
		}	
	}
}	
