@import '../settings/mixins.scss';

form {
	margin-bottom: 2rem;
}

.field {
	display: block;
	margin-bottom: 1rem;

	label {
		span {
			display: block;
			font-weight: 700;
			margin-bottom: .25rem;
		}
	}

	span.label {
		display: block;
		font-weight: 700;
		margin-bottom: .25rem;
	}

	input[type="text"],
	input[type="number"],
	textarea {
		border: 3px solid #000000;
		border-radius: 8px;
		display: block;
		padding: .6rem;
		width: 100%;
	}

	textarea {
		min-height: 160px;
		resize: none;
	}

	.title-section {
		display: flex;
		font-size: 1.5rem;
		font-weight: 500;
		margin-bottom: 1rem;
		margin-top: 1.5rem;
	}

	&-radio {
		&.inline {
			.radio-options {
				gap: 1rem;
				display: flex;
			}
		}

		.radio-options {
			input {
				margin-right: .5rem;
			}
		}
	}

	&-options {
		.fields {
			.option {
				display: block;
				margin-bottom: size(16);
				margin-top: size(16);
				background-color: #FFFFFF;
				border: 3px solid #000000;
				border-radius: size(16);
				padding: size(16);

				&-header {
					align-items: center;
					display: flex;
					justify-content: space-between;

					span {
						font-weight: 700;
					}
				}

				&-content {
					display: none;
				}

				label {
					display: block;
					margin-bottom: 1rem;

					span {
						display: block;
						font-weight: 700;
						margin-bottom: .25rem;
					}

					input[type="text"],
					textarea {
						border: 3px solid #000000;
						border-radius: 8px;
						display: block;
						padding: .6rem;
						width: 100%;
					}
				}
			}

			.option.open {
				background-color: transparent;
				border: 0;
				border-radius: 0;
				padding: 0;

				.option-header {
					display: none;
				}

				.option-content {
					display: block;
				}
			}
		}
	}

	&-start-end {
		.line {
			margin-bottom: 1rem;

			.date-time-inputs {
				align-items: center;
				display: flex;

				span.at {
					padding-left: 1rem;
					padding-right: 1rem;
				}

				.react-datepicker-wrapper {
					display: flex;
					width: 100%;

					.react-datepicker__tab-loop {
						background-color: orange;
					}

					input {
						box-sizing: border-box;
					}
				}
			}
		}
	}
}
