// Breakpoints
$small-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$desktop-large-width: 1200px;
$desktop-xlarge-width:1400px;

// max width
$small-max-width: 540px;
$tablet-max-width: 720px;
$desktop-max-width: 960px;
$desktop-large-max-width: 1140px;
$desktop-xlarge-max-width: 1320px;
