@import 'settings/mixins';
@import 'components/voting-card';

.voting-archive {
	margin: auto;
	max-width: 1200px;
	padding-inline: 15px;
	width: 100%;

	.icon {
		background-repeat: no-repeat;
		background-position: center;
		background-size: 1em;
		display: inline-block;
		height: 1em;
		width: 1em;
	}

	.voting-archive-header {

		h1 {
			font-family: 'Osvald';
			font-size: 4rem;
			text-align: center;
		}
	}

	.voting-search-form {
		display: flex;

		& > * {
			border: 3px solid black;
		}

		input {
			background-color: white;
			border-right: none;
			border-radius: 32px 0 0 32px;
			flex: 1;
			padding: 0.5rem 32px;
		}

		button {
			background-color: #26A9F9;
			border-radius: 0 32px 32px 0;
			line-height: 1;
			padding: 0.5rem 32px;

			.icon {
				background-image: url(../../assets/images/search.svg);
			}
		}
	}

	.voting-archive-grid {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
		margin: 2rem auto;

		@media screen and (max-width: 20rem) {
			grid-template-columns: 1fr;
		}
	}

	.voting-archive-paginator {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 2rem auto;
		padding: 0;

		li {
			border: 3px solid transparent;
			list-style: none;
			padding: 0 0.5rem;

			&.selected {
				background-color: #FF73E7;
				border-color: black;
			}

			&.previous, &.next {
				font-weight: bold;
			}
		}
	}
}
