@import 'atoms/fields';
@import 'atoms/buttons';

#concordamos-voting-form {
	button {
		&.edit {
			background-color: transparent;
			border: 0;
			padding: 0 size(16);
		}

		&.trash {
			background-color: transparent;
			border: 0;
			padding: 0 size(16);
		}
	}
}
