.voting-card {
	border: 3px solid black;
	border-radius: 2rem;
	background-color: #fff;

	header {
		border-radius: calc(2rem - 3px) calc(2rem - 3px) 0 0;
		display: flex;
		justify-content: space-between;
		padding: 0.5rem 2rem;

		& > :first-child {
			font-weight: bold;
		}
	}

	main {
		padding: 2rem;
	}

	h2 {
		margin: 0;
		text-transform: initial;
		font-family: 'Oswald';
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 130%;
		letter-spacing: -0.24px;
		color: #111;
		a{
			text-decoration: none;
		}
	}

	p {
		margin: 16px 0;
		color: #666;
		font-size: 14px;
		font-weight: 400;
		line-height: 150%;
		letter-spacing: -0.14px;
	}

	&__tags {
		display: flex;
		gap: 8px;
		margin: 0;
		padding: 0;

		li {
			border: 3px solid #EDE103;
			border-radius: 16px;
			display: inline-block;
			font-weight: bold;
			line-height: 1;
			list-style: none;
			padding: 6px;
			font-size: 12px;
		}
	}

	&.open {

		header {
			
			background-color: #26A9F9;
		}
	}

	&.closed {
		span{
			color: #111;
			font-family: 'Inter Tight' !important;
			font-size: 16px;
			font-weight: 700;
			line-height: 150%;
			letter-spacing: -0.16px;	
		}
		header {
			background-color: #FF2E22;	
			
		}
	}
}
